<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.niatup.hkcalling"
        versionCode = "2.0" 
        version     = "1.0.1" >
		

    <!-- versionCode is optional and Android only -->

    <name>HKcalling</name>

    <description>
        HKcalling.com becomes an app! 
    </description>

    <author href="http://niatup.com" email="support@niatup.com">
        Charles Carroz
    </author>
	
	 <access origin="*"/>

    <content src="index.html" />
	
	<gap:platform name="android" />
	
	<preference name="phonegap-version" value="3.6.3" /> 

	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/camera" />



</widget>
